@page "/AddUser"
@using Client.Models
@inject  NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject HttpClient _httpClient
<h3>Add User</h3>
<div class="row"> 
    <div class="col-md-6">
        <div class="form-group">
            <label for="FirstName">First Name*</label>
            <input form="FirstName"  class="form-control" @bind="@user.FirstName"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="LastName" >Last Name*</label>
            <input form="LastName" class="form-control" @bind="@user.LastName" />
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
</div>
</div>
    @code {
        UserModel user = new UserModel();
        protected override async Task OnInitializedAsync()
        {

        }
        protected async Task Save()
        {
            var response = await _httpClient.PostAsJsonAsync("https://localhost:7168/Users",user);
            // UserModel userResponse = await response.Content.ReadFromJsonAsync<UserModel>();
            // if (userResponse?.Id >0)
            // {
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
                NavigationManager.NavigateTo("UserList");
           // }
        }
        void Cancel()
        {
            NavigationManager.NavigateTo("UserList");
        }
}
